.input {
  outline: none;
  border: 0.1rem solid;
  height: 5.6rem;
  background: inherit;
  color: var(--dark);
  font-size: 1.6rem;
  padding: 0rem 1rem;
  border-radius: 2rem;

  &:focus {
    border: 0.1rem solid var(--dark);
  }
}
